<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <script>
      var __platform = 'projectx'
      var ____fe_branch = '<%= htmlWebpackPlugin.options.branch %>'
      var ____git_commit = '<%= htmlWebpackPlugin.options.commit %>'
    </script>
  </head>
  <body>
    <div id="appContainer"></div>
  </body>
</html>
